<!DOCTYPEhtml>
<htmllang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <div>
            Imie i nazwisko: <input type='text' name='imie_nazwisko' value='<%= imie_nazwisko %>'/>
        </div>
        <div>
            Nazwa zajec: <input type='text' name='nazwa_zajec' value='<%= nazwa_zajec %>'/>
        </div>
        <div>
            Zadanie 1: <input type='text' name='z1' value='<%= z1 %>'/>
        </div>
        <div>
            Zadanie 2: <input type='text' name='z2' value='<%= z2 %>'/>
        </div>
        <div>
            Zadanie 3: <input type='text' name='z3' value='<%= z3 %>'/>
        </div>
        <div>
            Zadanie 4: <input type='text' name='z4' value='<%= z4 %>'/>
        </div>
        <div>
            Zadanie 5: <input type='text' name='z5' value='<%= z5 %>'/>
        </div>
        <div>
            Zadanie 6: <input type='text' name='z6' value='<%= z6 %>'/>
        </div>
        <div>
            Zadanie 7: <input type='text' name='z7' value='<%= z7 %>'/>
        </div>
        <div>
            Zadanie 8: <input type='text' name='z8' value='<%= z8 %>'/>
        </div>
        <div>
            Zadanie 9: <input type='text' name='z9' value='<%= z9 %>'/>
        </div>
        <div>
            Zadanie 10: <input type='text' name='z10' value='<%= z10 %>'/>
        </div>
        <button>Zapisz</button>
    </form>
</body>
</html>
