<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>Imie i nazwisko: <%= imie_nazwisko %></div>
    <div>Nazwa zajec: <%= nazwa_zajec %></div>
    <div>
        Zadanie 1: <%= z1 %>
    </div>
    <div>
        Zadanie 2: <%= z2 %>
    </div>
    <div>
        Zadanie 3: <%= z3 %>
    </div>
    <div>
        Zadanie 4: <%= z4 %>
    </div>
    <div>
        Zadanie 5: <%= z5 %>
    </div>
    <div>
        Zadanie 6: <%= z6 %>
    </div>
    <div>
        Zadanie 7: <%= z7 %>
    </div>
    <div>
        Zadanie 8: <%= z8 %>
    </div>
    <div>
        Zadanie 9: <%= z9 %>
    </div>
    <div>
        Zadanie 10: <%= z10 %>
    </div>
</body>
</html>